html, .text {
    font-family: sans-serif;
  }
.text {
  margin-top: 2rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    padding: 1rem;
    background-color: white;
    display: block;
    width: 90%;
    height: 80vh;
  }
  select {
    width: 350px;
    padding: 5px;
  }